<h1> PRODUCTOS </h1>

<form action="/users/logout" method="post">
<button type="submit"> Cerrar session</button>
</form>
<br>
<br>
<a href="/api/sessions/current"> Revisar Sesion: CURRENT SESSION </a>
<br>
<h2> Bienvenido {{email}}</h2>

    <h3>Entraste con role: {{role}}</h3>
    <h2>Productos</h2>
    <ul>
        {{#each products}}
            <li>
                <strong>Título:</strong>{{this.title}}<br>
                <strong>Descripción:</strong> {{this.description}}<br>
                <strong>Precio:</strong> {{this.price}}<br>
                {{#if this.stock}}
                    <strong>Stock:</strong> {{this.stock}}<br>
                {{/if}}
            </li>
        {{/each}}
    </ul>


